<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
<header class="d-flex justify-content-center align-items-center">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-2">
            <img src="/images/NBALogos/LOGOTRANSPARENT.WEBP" alt="LOGO" class="img-fluid">
        </div>
        <div class="col-md-10">
            <h1 class="display-1">{{title}}</h1>
        </div>
    </div>
</header>


<figure class="text-end">
    <blockquote class="blockquote">
        <p class="mb-0">I've missed more than 9000 shots in my career. I've lost almost 300 games. Twenty six times,
            I've been trusted to take the game winning shot and missed. I've failed over and over and over again in my
            life. And that is why I succeed.</p>
    </blockquote>
    <figcaption class="blockquote-footer">
        <cite title="Source Title">Michael Jordan</cite>
    </figcaption>

</figure>
{{#if isSubmitted}}
    <div class="col-md-12 card text-white bg-primary">
        <div class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="text-dark modal-title">Some players from the team</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
<!--                        For each player that matches the team they are shown in the modal-->
                        {{#each playerArrays}}
                            <p class="text-dark"><strong class="fw-bold">{{position}} - {{firstName}} {{lastName}}</strong></p>
                    {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <div class="card-header">
            <h3>{{submittedTeam.name}} team information</h3>
        </div>
        <div class="card-body text-center d-flex align-items-center">
            <div class="row">
                <div class="col-md-4">
                    <img src="/images/NBALogos/{{submittedTeam.nameWOSpaces}}.WEBP" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <h1 style="font-size: 32px; margin-bottom: 10px;">Name: {{submittedTeam.name}}</h1>
                    <h2 style="font-size: 28px; margin-bottom: 10px;">City: {{submittedTeam.city}}</h2>
                    <h2 style="font-size: 28px; margin-bottom: 10px;">Abbreviation: {{submittedTeam.abbreviation}}</h2>
                    <h2 style="font-size: 28px; margin-bottom: 10px;">Conference: {{submittedTeam.conference}}</h2>
                    <a href="#" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target=".modal">See Players</a>

                </div>
            </div>
        </div>

    </div>
{{/if}}


<div class="col-md-14 card text-white bg-primary mb-3">
    <div class="card-header">
        <h3>Select Teams to View:</h3>
    </div>
    <div class="card border-primary">
        <div class="row">
            {{#each teamArray}}
                <div class="col-md-4 mb-3">
                    <div class="team-card border m-3 border-black text-center">
                        <img width="300" class="card-img" src="/images/NBALogos/{{nameWOSpaces}}.WEBP" alt="LOGO">
                        <div class="card-body">
                            <form action="/" method="post">
                                <input type="hidden" name="name" value="{{abbreviation}}"/>
                                <button type="submit" name="SeeMoreInfoBtn" id="{{abbreviation}}" value="{{name}}">See More Info</button>
                                <script>  $("#{{abbreviation}}").click(function () {
                                    // Show the modal by selecting it by its class and calling the modal() method
                                    currTeam = "{{abbreviation}}";
                                    // window.alert("current team : " + currTeam);
                                });</script>
                            </form>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>
<script>
    let currTeam;
    $(document).ready(function () {
        // Handle the click event of the "See Players" button
        $("#seePlayersButton").click(function () {
            // Show the modal by selecting it by its class and calling the modal() method
            $(".modal").modal("show");
        });

        $("#close").click(function () {
            // Show the modal by selecting it by its class and calling the modal() method
            $(".modal").modal("hide");
        });
    });
</script>


</body>
</html>
